<style>
    body{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,50,86,1) 47%, rgba(3,6,33,1) 100%);
        text-align: center;
    }
    .home{
        width: 800px;
        height: 300px;
        margin: 9.5rem  25rem;
        color: white;
        font-size: xx-large;
        border: 3px solid black;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 30px;
        padding-top: 30px;
        
    }
    a{
        padding: 10px;
        color: antiquewhite;
        text-decoration: none;
        background-color: black;
        border-radius: 12px;
    }
</style>
<body>
<div class="home">
    <h1>WELOCOME TO WANDERLUST</h1>
    <a href="/listings">GET STARTED</a>
</div>
</body>
